.community-write-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-area {

        .community-write-title {
            width: 1000px;
            height: 20px;
        }

        .community-write-body {
            width: 1000px;
            height: 500px;

        }
        
        .community-write-body::placeholder {
            text-align: center;
        }
    }

    .finish-button {
        text-align: center;
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: black;
        cursor: pointer;
        margin: 30px;

        &.active {
            pointer-events: none;
            color: white;
            background-color: gainsboro;
        }
    }
}