.community-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .communtiy-edit-area {
        display: inline-flex;

        .community-edit-button {
            text-align: center;
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: black;
            cursor: pointer;
            margin: 10px;
    
            &.active {
                display: none;
            }
        }
    
        .community-delete-button {
            text-align: center;
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: black;
            cursor: pointer;
            margin: 10px;
            
            &.active {
                display: none;
            }
        }

    }

    .detail-total {
        border: 1px solid black;
        margin: 30px;
        width: 70%;

        .community-title {
            text-align: center;
        }

        .detail-title {

            .title {
                padding: 0px 20px;
            }
        }

        .datail-body {
            height: 400px;

            .d-body {
                padding: 0px 20px;
            }
        }
    }

    .list-button {
        text-align: center;
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: black;
        cursor: pointer;
        margin: 10px;
    }
}